<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrando uma versão</title>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
</head>
<body style = "padding: 10%;" id="body">
    
        
        <!--img src="imagens/ajax-loader.gif" id="loader"-->
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status" id="loader">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="alert alert-danger" role="alert" id="alert-danger">
            
        </div>
        <div class="alert alert-warning" role="alert" id="alert-warning">
          
        </div>
        <div class="alert alert-success" role="alert" id="alert-sucess">
           
        </div>

        <form style = "max-width: 300px;max-height: 300px;" id="formulario-prog">
            <div class="form-group">
            <label for="programa">Programa</label>
            <select class="form-control" id="programa" required>
                <!--Preenchido via código em scripts/scripts.js-->
            </select>
            </div>
            <div class="form-group">
                <label for="versao">Versão</label>
                <div class="grid-container" id="versao">
                    <div class="grid-item">
                        <input type="number" min="0" class="form-control" id="versao_1" required>
                    </div>
                    <div class="grid-item" >
                        <!--id="ponto">.</a-->
                        <img src="imagens/Dot-Symbol-No-Background.png" id="ponto">
                    </div>
                    <div class="grid-item">
                     <input type="number" min="0" class="form-control" id="versao_2" required>
                    </div>
                    <div class="grid-item">
                        <img src="imagens/Dot-Symbol-No-Background.png" id="ponto">
                    </div>
                    <div class="grid-item">
                    <input type="number" min="0" class="form-control" id="versao_3" required>
                    </div>
                 
                </div>
            </div>     
            <div class="form-group">
                <label for="file-prog">Arquivo da versão</label>
                <input type="file" accept=".jar, .exe" class="form-control-file" id="file" required>
            </div>   
            <button type="submit" class="btn btn-primary" id="enviar">Enviar</button>
            <button class="btn btn-primary" type="button" id="enviar_load" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
        </form>
     <script type="module" src="scripts/script.js"></script>

</body>
</html>